*{

    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

main {

    height: 645px;
    width: 1535px;
    /* background-color: rgb(150, 150, 101); */

    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

article {

    height: 600px;
    width: 400px;
    padding-left: 10px;
    padding-top: 20px;
    /* background-color: yellow; */

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}
.cajon1 {

    height: 410px;
    width: 300px;
    border: 2px solid rgb(205, 203, 203);
    /* background-color: red; */

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    

}
.titulo {

    height: 80px;
    width: 250px;
    /* background-color: aquamarine; */

    display: flex;
    justify-content: center;
    align-items: flex-end;

}
.titulo img {

    height: 60px;
    width: 150px;
}
form {

    height: 300px;
    width: 280px;
    padding-top: 5px;
    /* background-color: azure; */

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;

}
.form1 {

    height: 240px;
    width: 280px;
    /* background-color: blueviolet; */

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;

}
.formulario {

    height: 100px;
    width: 278px;
    /* background-color: rgb(92, 249, 249); */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

}
input {

    width: 277px;
    height: 35px;

}
.button {

    width: 277px;
    height: 35px;
    border-radius: 5px;
    background-color: rgb(24, 85, 240);
}

button {
    width: 277px;
    height: 35px;
    border-radius: 4px;
    border-style: none;
    color: white;
    background-color: rgb(24, 85, 240);
}

.icono {

        height: 35px;
        width: 277px;
        color:rgb(99, 98, 98);
        /* background-color: aqua; */

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10px;

}
.icono img {

    width: 25px;
    height: 20px;
}
.contraseña {

    height: 35px;
    width: 277px;
    color:rgb(99, 98, 98);
    /* background-color: rgb(230, 208, 249); */

    display: flex;
    justify-content: center;
    align-items: center;
}
.cajon2 {

    height: 40px;
    width: 300px;
    margin-top: 8px;
    border: 2px solid rgb(205, 203, 203);
    /* background-color: rgb(244, 5, 216); */

    display: flex;
    justify-content: center;
    align-items: center;

}
.cajon3 {

    height: 35px;
    width: 300px;
    margin-top: 6px;
    /* background-color: rgb(37, 154, 238); */

    display: flex;
    justify-content: center;
    align-items: center;

}
.aplicacion {

    height: 30px;
    width: 300px;
    padding-top: 35px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.imagen {

    height: 50px;
    width: 110px;
    /* background-color: aquamarine; */

    display: flex;

}
.imagen img {

    width: 105px;
    height: 48px;

    display: flex;
    justify-content: center;
    align-items: center;

}
.imag {

    height: 50px;
    width: 110px;
    /* background-color: brown; */

    display: flex;
    justify-content: center;
    align-items: center;
}
.imag img {

    width: 105px;
    height: 46px;

    display: flex;
    justify-content: center;
    align-items: center;

}
aside {

    height: 600px;
    width: 400px;
    /* background-color: antiquewhite; */

    display: flex;
    justify-content: center;
    align-items: center;

}
.fotoInsta {

    width: 390px;
    height: 590px;

    /* background-color: yellowgreen; */
    display: flex;
    justify-content: end;
    align-items: center;
}
.fotoInsta img {

    width: 390px;
    height: 585px;
}

footer {

    height: 100px;
    width: 1535px;
    word-spacing: 10px;
    /* background-color: rgb(190, 186, 186); */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

}

/* .nota {

    height: 25px;
    width: 1530px;
    color: rgb(210, 209, 209); */
    /* background-color: blue; */

    /* display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;

} */
/* 
.nota1 {

    height: 25px;
    width: 1530px;
    color: rgb(210, 209, 209); */
    /* background-color: aqua; */

    /* display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;

}
.nota2 {

    height: 25px;
    width: 1530px;
    color: rgb(210, 209, 209); */
    /* background-color: aquamarine; */

    /* display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
} */

h3 {

    font-style: normal;
    font-weight: normal;
    font-size: 15px;

}

h2 {

    font-family: normal;
    font-weight: normal;

}

h5 {

    font-family: normal;
    font-weight: normal;
}

h4 {

    font-family: normal;
    font-weight: normal;
    
}

a{
    text-decoration: none;

}

p {

    height: 30px;

    display: flex;
    justify-content: center;
    align-items:center ;
}
.simbolo {

    width: 270px;
    height: 25px;
    /* background-color: rgb(222, 162, 22); */

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 8px;

}

.line {

    width: 120px;
    height: 2px;
    background: #efefef;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;


}


@media  screen and (max-width: 875px)
{

.fotoInsta {

    display: none;
}
.fotoInsta img {

    display: none;

}
aside {

    display: none;

}
}

@media screen  and (max-width: 450px)
{
main {

    width: 400px;
}

/* article {

    width: 380px;

} */

.cajon1 {

    border: none;
}

.cajon2 {

    border: none;
}
    
footer {

    display: none;
}

}